{% extends 'app1/base.html' %}
{% block body %}
{% load static %}
<style>

</style>

<div class="page-content" >
    <div class="container card radius-15 ">
        <div class="card radius-15">
            <div class="card-body">
                <div class="card-title">
                    <center><h2 class="mb-0">BANK RECONCILATION</h2></center>
                    <hr>
                </div>
            </div>
            
        </div>
        <table class="table">
            <thead>
                <tr style="text-align:center ;background-color: rgba(51, 51, 75, 0.829);" class="rw">
                <th>Reconciled Date</th>
                <th>Reconciled Period</th>
                <th>Closing Balance</th>
                <th>Status</th>
                <th></th>
                
            </tr>
            </thead>
            <tbody>
                {% for pym in cust_pym %}
                {% if pym.cid_id == cmp1.cid %}
                <tr style="text-align:center ;" class="rw" data-href="">

                    <td>{{ pym.date }}</td>
                    
                    <td>{{str_dat}} To {{end_dat}}</td>
                    <td>{{ pym.running_bal }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
                {% endfor %}

                {% for pym2 in vend_pym %}
                {% if pym2.cid_id == cmp1.cid %}
                <tr style="text-align:center ;" class="rw">

                    <td>{{ pym2.date }}</td>
        
                    <td>{{str_dat}} To {{end_dat}}</td>

                    <td>{{ pym2.amount_received }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
                {% endfor %}
                
                {% for exp in exppenses %}
                {% if exp.cid_id == cmp1.cid %}
                <tr style="text-align:center ;" class="rw">
                    <!-- data-id="1" data-dismiss="modal"  data-target="#edit_section_exp "data-toggle="modal" -->
                    <td>{{ exp.date }}</td>
                    <td>{{str_dat}} To {{end_dat}}</td>
                    <td>{{ exp.amount }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
                {% endfor %}


                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td> 
                    <td></td> 
                    
                </tr>
            </tbody>
        </table>
    </div>
   
</div>

<div class="modal col-md-11" id="myModal">

        <a href="#" class="btn btn-light ml-2">Save and Reconcile Later</a>
        <a href="#" class="btn btn-primary ml-2">Reconcile</a>
        <a href="#" class="btn btn-light ml-2">Close</a>

        <span class="mr-0"> Balance:<span style="color:#673ab7" class="ml-1">₹2500.0</span> &nbsp;&nbsp; Difference Balance:<span style="color:red" class="ml-1">₹2500.0</span></span>
        
        <a class="close" data-dismiss="modal">×</a>
    
</div>






{% endblock %}